body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@import url('https://fonts.googleapis.com/css2?family=Almarai&display=swap');

.Form-Control{
  border: 10px solid red !important;
  border-radius: 2.25rem !important;
}
.slider{
  background-color: #2b2b2b;
  height: 2px;
  width: 20%;
  padding-left: auto;
  padding-right: auto;
  margin-right: auto;
  margin-left: auto; 
}
.btn-block{
  width: 75%;
  background-color: #43425D;
  color: white;
  border-color: transparent;
}
.Form-Controll{
  width: 60%!important;
  display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    /* border-radius: 33.25rem; */
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.rb {order: 1 !important; }
      .ra  {order: 2!important; }
      .rd  {order: 3!important; }
      .rc  {order: 4!important; }

@media screen and (max-width: 500px) {
  .container{width: 80%!important;} 
  .ra {order:1 !important ; }
  .rb {order:2!important; }
  .rc {order:3 !important ; }
  .rd {order:4 !important ; }
}
.react-calendar.pop{
  width: 100%!important;
  border: none!important;
  color: black!important;
  text-decoration: none!important;
}
.react-calendar__tile--active {
  background-color: #43425D!important;
}
.react-calendar__month-view__days__day--weekend{
  color: black!important;
}
#myDIV {
  margin: auto;
  width: 5%;
  height: 5%;
  animation: mymove 2s infinite;
}

@keyframes mymove {
  100% {transform: rotate(360deg);}
}
.load{
  color:#43425D!important;
  font-size: 30px!important;
}
#cor{
  font-size: 40px;
  color: green;
}
.btn-block.mo{
  width: 30%;
}
.btn-block.vo{
  width: 75%;
}
.btn-block.mo:hover{
  color: white !important;
  background-color: #59577ee7;
}
.btn-block.vo:hover{
  color: white !important;
  background-color: #59577ee7;
}
.cardy{
  border: 1px solid#43425Ded;
  border-radius: 4px!important;
  background-color: #fff;
  color: #43425Ded;
}
.cardy2{
  border: 1px solid#43425Ded;
  border-radius: 15px!important;
  background-color: #43425Ded;
  color: #fff;
  padding-left: 15px;
}
.cardy3{
  border: 1px solid#43425Ded;
  border-radius: 15px!important;
  background-color: white;
  color: #43425Ded;
  padding-left: 15px;
}
.bobo{
  margin-left: 5px!important;
  text-align: left;
  font-size: 86px;
  font-family: 'Roboto', sans-serif;
}
.bo{
  margin-left: 0px!important;
  text-align: left;
  font-size: 30px;
  margin-right: 0px!important;
  font-family: 'Roboto', sans-serif;
}
.moob{
  padding-left: 4px;
  padding-right: 4px;
  width: 100%;
}
.fonts{
  font-family: 'Almarai', sans-serif!important;
}
.ahme1{
  font-size: 90px;
}
/* #checkbox1,  #checkbox2{
  width: 50px;
  height: 20px;
  height: 5px;
} */

input[type=checkbox]{
  display: block;
  margin: 0.2em;
  cursor: pointer;
  padding: 0.2em;
}
label{
  display: block;
  margin: 0.2em;
  cursor: pointer;
  padding: 0.2em;
}

input[type=checkbox] {
  display:none;
}

input[type=checkbox] + label:before {
  content: "\2714";
  border: 1px solid #43425Ded;
  border-radius: 0.3em;
  background-color: #fff;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding-left: 0.2em;
  padding-bottom: 0.1em;
  margin-right: 0.2em;
  vertical-align: bottom;
  color: transparent;
  transition: .2s;
}
input[type=checkbox]:checked + label:before {
  background-color: MediumSeaGreen;
  border-color: MediumSeaGreen;
  color: #fff;
}
.boo{
  margin-left: 0px!important;
  margin-bottom: 4px!important;
  text-align: left;
  font-size: 30px;
  margin-right: 10px!important;
  font-family: 'Roboto', sans-serif;
}
/* input[type=text]{
  width: 80%;
  margin-top: 10px;
  height: 40px;
  font-size: 20px;
  padding-left: 15px;
} */
.boxcontainer{
  margin: auto;
  margin-top: 1%;
  position: relative;
  width: 80%;
  height: 50px;
  border: 3px solid #43425D;
  padding: 0px 30px;
  border-radius: 50px;
}
.elementscontainer{
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.search{
  border: none;
  height: 100%;
  width: 100%;
  padding: 0px 5px;
  border-radius: 50px;
  font-size: 25px;
  color: #43425D;
  font-weight: 500;
}
.search:focus{
  outline: none;
}
.material-icons{
  font-size: 30px;
  color: #43425D;
  vertical-align: middle;
}
.but{
  text-align: left;
}